body {
    background: url("../images/wow.jpg") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.form-container {
    max-width: 50%;
    color: gray;
    padding: 20px;
    overflow: hidden;
    border: 1px solid red;
    background-color: gray;
    background: rgba(25,9,1,0.9);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    top: 50%;
    transform: translateY(10%);
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.detail-container {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
    min-width: 15vw;
    max-width: 30vw;
    padding: 10px;
    background-color: gray;
    display: block;
    border-radius: 15px;
    text-align: center;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


.btn_container {
    display: flex;
    justify-content: center;
}

.custom-card{
    border: 3px solid red;
    min-width: 15vw;
    max-width: 15vw;
    opacity: 0.85;
}

.index_pad {
    padding: 10px;
    float: top;
}

.index_button_container {
    padding-left: 75px
}

.detail-container {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
    min-width: 15vw;
    max-width: 30vw;
    padding: 10px;
    background-color: white;
    display: block;
    border-radius: 15px;
    text-align: center;
}

.detail-container:hover {
    transform: scale(1.05);
    transition: all .5s ease-in-out;
    text-decoration: none;
    color: blue;
}

.pagination-container {
    padding-left: 100px
}

.pagination-border {
    border: .5px solid black;
    text-decoration: none;
}

.hero-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: blue;
}

.hero-info-container:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.05);
}

.nav-btn-margin {
    margin-left: 3px;
    margin-right: 3px;
}

.position {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 260px;
}

h3 {
    color: blue;
}










